<div class="product-comment-line">
  <%= form_for defined?(comment) ? comment :  [@product, @product.comments.build(:commenter => current_user)] do |f| %>
    <%= f.text_area :body, :class => 'commentfield', :size => '60x5' %><br />
    <%= f.submit _('Create comment'), :class => 'smallbutton' %>
  <% end %>
</div>
