<div class="comment">
  <p>
    <b>Commenter: </b>
    <%= comment.commenter.username %>
  </p>
  <p>
    <b>Created at: </b>
    <%= comment.created_at %>
  </p>
  <p>
    <b>Comment: </b>
    <%= comment.body %>
  </p>
</div>

