*.swp
.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/**/*
config/database.yml
config/aaltoapps_config.yml
tags
public/products/*
config/locales/gettext/*/*.mo

# only include the locales that are used,
# except en-US, which is included in Rails
/vendor/rails-locales/**
!/vendor/rails-locales/fi.*
