<div class="product-download">
  <%= link_to download.title, download.file.url %>
  (<%= number_to_human_size(download.file.size) %>)

  <% if defined?(delete) && delete && can?(:delete, download) %>
    <div class="inlinebuttons">
      <%= button_to _('Delete'), [download.product, download], :method => :delete,
                                 :class => "smallbutton",
                                 :confirm => _('Are you sure?') %>
    </div>
  <% end %>
</div>
