.browse_products {
    border-radius: 0.5em;
    display:inline-block;
    width:100%;

}

.browse_product_left {
    /*border: thin solid blue;*/
    background-color:grey;
    border-radius: 0.5em;
    width:49%;
    margin-bottom:1em;
    float:left;
    max-height:6em;
    
}

.browse_product_right {
    /*border: thin solid blue;*/
    background-color:grey;
    border-radius: 0.5em;
    width:50%;
    margin-bottom:1em;
    float:right;
    max-height:6em;
 
    
}

.browse_product_info {
    /*border: thin solid black;*/
    background-color:yellow;
    border-radius: 0.5em;
    display:inline-block;
    float:left;
    width:35%

}

.browse_product_desc {
    /*border: thin solid red;*/
    background-color:red;
    border-radius: 0.5em;
    display:inline-block;
    float:right;
    width:50%;
    height:4.5em; 
    overflow: hidden;
    /*text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url( 'bindings.xml#ellipsis' );*/  
    
    
}

.browse_product_picture {
    /*border: thin solid green;*/
    border-radius: 0.5em;
    display:inline-block;
    float:left;
    width:15%;
    max-height:4,5em;
      
}

.browse_row {
    /*border: thin solid black;*/
    border-radius: 0.5em;
    height:1.5em;

    
}


