.browse_products {
    border-radius: 0.5em;
    display:inline-block;
    width:100%;
    font-size:8pt;
 
}

.browse_product_left_silver {
    background:#2E2E2E;
    margin-bottom:0.2em;
    border-radius: 0.5em;
    width:49%;
    float:left;
		position:relative;
		   
}

.browse_product_right_white {
    background:#404040;
    margin-bottom:0.2em;
    border-radius: 0.5em;
    width:49%;
    float:right;
		position:relative;
    
}

.browse_product_left_white {
    background:#404040;
    margin-bottom:0.2em;
    border-radius: 0.5em;
    width:49%;
    float:left;
		position:relative;
   
}

.browse_product_right_silver {
    background:#2E2E2E;
    margin-bottom:0.2em;
    border-radius: 0.5em;
    width:49%;
    float:right;
		position:relative;

}

.browse_product_info {
    background:inherit;
    border-radius: 0.5em;   
    float:left;
    width:30%;
		overflow:hidden;
		text-align: left;	

}

.browse_product_desc {
    background:inherit;
    border-radius: 0.5em;    
    float:left;
    width:48%;
    max-height:7em;
    overflow:hidden;
		text-align:left;
    
}

.browse_product_picture {
    background:inherit;
    border-radius: 0.5em;
    float:left;
    width:22%;
		overflow: hidden;
		max-height: 7em;
		
      
}

.browse_row form, .browse_row div{
    display: inline;
}

.clear{
    clear:both;
}
.browse_search_err_msg{
    border:thin solid red;
    color: red;
    font:bold;
    

}
