.textfield {
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	border: 1px solid #00BFFF;
	padding: 0.7em;
	margin-right: 0.5em;
	color: #000000;
}

.textfield :active {
	background: #82FFFF;
	-moz-box-shadow: 0 0 7px #00BFFF;
	-webkit-box-shadow: 0 0 7px #00BFFF;
	box-shadow: 0 0 7px #00BFFF;
}

.commentfield {
	background: #2E2E2E;
	color: white;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
  border-radius: 0.5em;
	border: none;
	padding: 0.2em;

}

.otherfield {
	background: #2E2E2E;
	color: white; 
	border: none;
	padding: 0.2em;
  -moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
  border-radius: 0.5em;

}

.inlinebuttons {
  display: inline-block;
}

.smallbutton {
	background: none;
	border: none;
	text-decoration: none;
	color: #00BFFF;
	font-size: 1em;
	font-family: 'Harabara';
	text-transform: lowercase;
	
}

.smallbutton:hover {
	color: #003177;
	cursor: pointer;
	-webkit-transition: color 0.3s;
}

.bigbutton {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 1em/100% Harabara;
	padding: 0.5em 0.5em 0.5em;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	color: #ffffff;
	width: 5em;
	border: none;
	background: #00BFFF;
}

.bigbutton:hover {
	-webkit-transition: -webkit-box-shadow 0.5s;
	text-decoration: none;
	color: #003177;
	-moz-box-shadow: 0 0 7px #003177;
	-webkit-box-shadow: 0 0 7px #003177;
	box-shadow: 0 0 7px #003177;
}
