.textfield {
	background: #2E2E2E;
  color: white;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
  border-radius: 0.5em;
	border: none;
	padding: 0.2em;
	
}

.searchfield {
	background: #666;
	color: white;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  border: none;
  padding: 0.7em;
  -moz-box-shadow: 0 0 7px black;
	-webkit-box-shadow: 0 0 7px black;
	box-shadow: 0 0 7px black;
  margin-right: 0.5em;
}

.searchfield:active {
  -moz-box-shadow: 0 0 7px #FF6A00;
	-webkit-box-shadow: 0 0 7px #FF6A00;
	box-shadow: 0 0 7px #FF6A00;
  
}

.commentfield {
	background: #2E2E2E;
	color: white;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
  border-radius: 0.5em;
	border: none;
	padding: 0.2em;

}

.otherfield {
	background: #2E2E2E;
	color: white; 
	border: none;
	padding: 0.2em;
  -moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
  border-radius: 0.5em;

}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 1em/100% Harabara;
	padding: 0.5em 0.5em 0.5em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-moz-box-shadow: 0 0 7px black;
	-webkit-box-shadow: 0 0 7px black;
	box-shadow: 0 0 7px black;
  color: #FF6A00;
  width: 5em;
	border: none;
	background: #202020;
	//background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	//background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	//filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.button:hover {
  -webkit-transition: -webkit-box-shadow 0.5s;
	text-decoration: none;
	color:#FF6A00;
  -moz-box-shadow: 0 0 7px #FF6A00;
	-webkit-box-shadow: 0 0 7px #FF6A00;
	box-shadow: 0 0 7px #FF6A00;
	
}


.pwfield {
	background: #2E2E2E;
	color: white; 
	border: none;
	padding: 0.2em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
  border-radius: 0.5em;
	
}

.smallbutton {
	background: none;
	border: none;
	text-decoration: none;
	color: white;
  font-size: 1em;
	font-family: 'Harabara';
	text-transform: lowercase;
	
}

.smallbutton:hover {
	color: #FF6A00;
	cursor: pointer;
  -webkit-transition: color 0.3s;
}
