.textfield {
	background: #2E2E2E;
	color: #00ced1;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

.searchfield {
	background: #666;
	color: #00ced1;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

.commentfield {
	background: #2E2E2E;
	color: #00ced1;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

.submit {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
  border-radius: 1em;
}

.pwfield {
	background: #2E2E2E;
	color: #00ced1;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}
