.layout_whole {
  //border: solid red;
  min-width: 80em;
}

.wrapper_top {
  position:relative;
	width: 70%;
  min-width: 55em;
	padding-bottom: 1em;
	margin-bottom: 0.5em;
	margin-top: 2em;
  margin-right: 15%;
  float:right;
  //border: solid aqua;
}

.layout_frame {
  width:70%;
  float:right;
  min-width: 55em;
  margin-right: 15%;
	-moz-box-shadow: 0 0 7px black;
	-webkit-box-shadow: 0 0 7px black;
	box-shadow: 0 0 7px black;
	
  //border: solid blue;
	margin-bottom: 5em;

}

.layout_master {
  padding: 0.5em;
	text-align: center;
	background-color: #202020;
	//border: solid green;
	

}

.layout_logo {
float: left;
padding-top: 3em;
  margin-left: 3em;
  margin-top: 1em;
  //border: solid red;

}

.layout_logo a, .layout_logo a:hover {
font-family: 'Harabara';
text-decoration: none;
  font-size: 6em;
color: #00BFFF;
  text-shadow: 0.1em 0.1em 0.1em #000;
  

}

.layout_info {
	float:right;
	width:30%;
	padding-top: 2em;
  //border: solid blue;
}

.layout_menuitem {
	text-align:right;
	padding: 0.2em;
  //border: solid yellow;
	margin: 0.2em;

}

.layout_menuitem form, .layout_menuitem div {
  display: inline;
}

.footer_text {
	//border: solid green;
	background-color: #202020;
	padding: 0.5em;
	

}

.clear {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;    
  clear: both;
}

#menu  {margin-right: 1em; font-family: 'Harabara';}
  
#menu .navmenu {
	float:right; 
	margin-right: 2em;
	margin-top: 2em; 
	width: 7em;
	list-style: none; 
	background-color:#202020;
	-moz-box-shadow: 0 0 7px black;
	-webkit-box-shadow: 0 0 7px black;
	box-shadow: 0 0 7px black;
	-moz-border-radius: 0.7em 0.1em 0.7em 0.1em;
	border-radius: 0.7em 0.1em 0.7em 0.1em;
	padding-bottom: 0.5em;

}
	
#menu a {text-decoration: none; font-size: 1.5em; }

#menu .navmenu li ul {list-style: none; padding: 0; margin: 0; }

#menu .menutop {padding:0.3em; padding-left: 0.7em; font-size: 1em; overflow:hidden; }

#menu .menusingle {padding:0.3em; padding-top:0.7em; padding-left: 0.7em; font-size: 1em;overflow:hidden;}

#menu .navmenu li div ul {margin:none; padding: none;}

#menu .submenu_row a {text-align: center; padding-left: 1.0em; font-size: 0.8em; color: #00BFFF; font-family: 'Harabara'; font-size: 1em; 
overflow:hidden; }
 
