.layout_whole {
  //border: solid red;
  min-width: 80em;
}

.wrapper_top {
  position:relative;
	width: 60%;
  min-width: 55em;
	padding-bottom: 1em;
	margin-bottom: 0.5em;
	margin-top: 2em;
  margin-right: 17%;
  float:right;
  //border: solid aqua;
}

.layout_frame {
  width:60%;
  float:right;
  min-width: 50em;
  margin-right: 17%;
	-moz-box-shadow: 0 0 7px black;
	-webkit-box-shadow: 0 0 7px black;
	box-shadow: 0 0 7px black;
  //border: solid blue;
	margin-bottom: 5em;

}

.layout_master {
  padding: 0.5em;
	text-align: center;
	background-color: #202020;
  overflow: hidden;
	//border: solid green;
	

}

.layout_logo {
  float: left;
  padding-top: 2em;
  padding-left: 5em;
  margin-top: 1em;
  width: 50%;
  min-height: 4em;
  font-size: 1.1em; 
  //border: solid red;

}

.layout_logo a, .layout_logo a:hover {
  font-family: 'Harabara';
  text-decoration: none;
  font-size: 6em;
  color: #00BFFF;
  text-shadow: 0.1em 0.1em 0.1em #000;
}

.layout_info {
	float:right;
	width:30%;
	padding-top: 2em;
  //border: solid blue;
}

.layout_menuitem {
	text-align:right;
	padding: 0.2em;
  //border: solid yellow;
	margin: 0.2em;

}

.layout_menuitem form, .layout_menuitem div {
  display: inline;
}

.footer_text {
	//border: solid green;
	background-color: #202020;
	padding: 0.5em;
	text-align: center;
	
}

.clear {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;    
  clear: both;
}

#menu  {margin-right: 1em; font-family: 'Harabara';}
  
#menu .navmenu {
	float:right; 
	margin-right: 2em;
	margin-top: 2em; 
	width: 10em;
	list-style: none; 
	background-color:#202020;
	-moz-box-shadow: 0 0 7px black;
	-webkit-box-shadow: 0 0 7px black;
	box-shadow: 0 0 7px black;
	-moz-border-radius: 0.7em 0.1em 0.7em 0.1em;
	border-radius: 0.7em 0.1em 0.7em 0.1em;
	padding-bottom: 0.5em;

}
	
#menu a {
  text-decoration: none;
  color: inherit;
}

#menu .menusingle,
#menu .menutop {
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  padding-left: 0.7em;
  padding-right: 0.3em;
  padding-bottom: 0.3em;
  overflow:hidden;
}

#menu .menutop { padding-top: 0.3em; }
#menu .menusingle { padding-top: 0.7em; }

#menu .navmenu ul {list-style: none; padding: 0; margin: 0; }

#menu .submenu_row {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

#menu .submenu_row a {text-align: center; padding-left: 1.0em; font-size: 0.8em; color: #00BFFF; font-family: 'Harabara'; font-size: 1em;}
 
