#product-title {
  text-align: left;
}

#product-info {
  padding-bottom: 2em;
  border-bottom: thin solid gray;
	text-align: left;
}
#image{
	width:150px;
	height:150px;
	border:none;
}
#product-image {
  width: 20%;
  float: left;
  overflow: hidden;
  text-align: center;
}

#product-image-border {
  display: inline-block;
  margin-right: 1.5em;
}

#product-details {
  width: 80%;
  float: left;
	
}
/*#product-url{
  border: solid green;
}*/
#product-details > dl {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
}

#product-details > dl > dt {
  min-width: 7em;
  float: left;
}

#product-details > dl > dd {
  float: left;
  margin-left: 1em;
}

#product-details > dl > dd > * {
  vertical-align: top;
}

#product-rating-form {
  display: inline-block;
  margin-left: 2em;
  padding: 0.25em;
  border: thin solid gray;
  border-radius: 0.80em; /* <= padding/(1-1/sqrt(2)) */
  -moz-border-radius: 0.80em;
}

#product-rating-form form {
  display: inline;
}

#product-rating-form .field,
#product-rating-form .actions {
  display: inline;
  margin: 0;
}

/* clearfix (left) */
#product-info:after,
#product-details > dl:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;    
    clear: left;
}

#product-description{
  //border: solid red;

}

#product-comment-list{
  //border: solid blue;
}

#product-comment-name{
  color: white;
}

#product-comment-time{
  color: #666;
  //border-top: solid thin black;
}

#product-comment-rating{
  //border: solid white;
	//border-top: solid thin black;
}

.product-comment-line{
  //border: solid yellow;
}

.product-comment-current{
	//border: solid black;
	margin-bottom: 1em;
	/*border-left: solid thin black;
	border-bottom: solid thin black;
	-moz-box-shadow: 0 0 7px black;
	-webkit-box-shadow: 0 0 7px black;
	box-shadow: 0 0 7px black;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
  border-radius: 0.5em;
	padding: 0.2em;*/
}

.product-comment-current form {
    display: inline;
}

.product-comment-buttons * {
    display: inline;
}

.product_new {
	text-align: left;
}
