.browse_products {
    display:inline-block;
    width:100%; 
    font-size: 1em;
}

.browse_product_left_silver {
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.36, #202020),
    color-stop(0.58, #2B292B),
    color-stop(0.84, #333033)
);
background-image: -moz-linear-gradient(
    center bottom,
    #202020 36%,
    #2B292B 58%,
    #333033 84%
);
    //background:#2E2E2E;
    margin-bottom: 1em;
    border-radius: 0.5em;
		-moz-border-radius 0.5em;
		-webkit-border-radius 0.5em;
    width:49%;
    float:left;
		position:relative;
    //border: solid red;
    /**/-moz-box-shadow: 0 0 7px black;
	  -webkit-box-shadow: 0 0 7px black;
	  box-shadow: 0 0 7px black;
		   
}

.browse_product_right_white {
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.36, #202020),
    color-stop(0.58, #2B292B),
    color-stop(0.84, #333033)
);
background-image: -moz-linear-gradient(
    center bottom,
    #202020 36%,
    #2B292B 58%,
    #333033 84%
);
    //background:#404040;
    margin-bottom: 1em;
    border-radius: 0.5em;
		-moz-border-radius 0.5em;
		-webkit-border-radius 0.5em;
    width:49%;
    float:right;
		position:relative;
    //border: solid red;
    -moz-box-shadow: 0 0 7px black;
	  -webkit-box-shadow: 0 0 7px black;
	  box-shadow: 0 0 7px black;
    
}

.browse_product_left_white {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.36, #202020),
    color-stop(0.58, #2B292B),
    color-stop(0.84, #333033)
);
background-image: -moz-linear-gradient(
    center bottom,
    #202020 36%,
    #2B292B 58%,
    #333033 84%
);
    //background:#404040;
    margin-bottom: 1em;
    border-radius: 0.5em;
		-moz-border-radius 0.5em;
		-webkit-border-radius 0.5em;
    width:49%;
    float:left;
		position:relative;
    //border: solid red;
    -moz-box-shadow: 0 0 7px black;
	  -webkit-box-shadow: 0 0 7px black;
	  box-shadow: 0 0 7px black;
		
}

.browse_product_right_silver {
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.36, #202020),
    color-stop(0.58, #2B292B),
    color-stop(0.84, #333033)
);
background-image: -moz-linear-gradient(
    center bottom,
    #202020 36%,
    #2B292B 58%,
    #333033 84%
);
    margin-bottom: 1em;
    border-radius: 0.5em;
		-moz-border-radius 0.5em;
		-webkit-border-radius 0.5em;
    width:49%;
    float:right;
		position:relative;
    //border: solid red;
    -moz-box-shadow: 0 0 7px black;
	  -webkit-box-shadow: 0 0 7px black;
	  box-shadow: 0 0 7px black;
}

.browse_product_info {
    background:none;
    border-radius: 0.5em;   
    float:left;
    width:30%;
		overflow:hidden;
		text-align: left;	

}

.browse_product_desc {
    background:none;
    border-radius: 0.5em;    
    float:left;
    width:48%;
    max-height:4em;
    overflow:hidden;
		text-align:left;
    
    
}

.browse_product_picture {
    //background:inherit;
    border-radius: 0.5em;
    float:left;
    width:22%;
		overflow: hidden;
		max-height: 7em;
		
      
}

.browse_row form, .browse_row div{
    display: inline;
}

.clear{
    clear:both;
}
.browse_search_err_msg{
    border:thin solid red;
    color: red;
    font:bold;
    

}
