@font-face {
  font-family: 'Harabara';
  src: url('Harabara.ttf');
}

@font-face {
  font-family: 'TB';
  src: url('Qlassik_TB-webfont.ttf');
}

body {
	background-color: #2E2E2E;
	color: #00BFFF;
	font-family: 'TB';
	font-size: 1.1em;
	line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: white; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
	text-align: left;
}

#alert {
  color: red;
	text-align: left;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
