.productlist_item {
    border: thin solid black;
    border-radius: 0.5em;
    margin-bottom: 0.5em;    
}

.product_image {
    width: 10%;
    float: left;
    overflow: hidden;
}

.product_info {
    width: 80%;
    float: left;
}

.product_info_header {
}

.product_description {
}

.product_download {
    width: 10%;
    float:right;
}

.productlist_item:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;    
    clear: both;
}
.layout_frame
{
  width:70%;
  float:left;
  border: thin solid black;
}

.layout_logo
{
  padding: 1em;
  font-size: xx-large;
  text-align: center;
}

.layout_menu
{
  padding-left: 2em;
  padding-right: 2em;
  border-top: thin solid;
  border-bottom: thin solid;
}

.layout_master
{
  padding: 1em;
}

.layout_footer
{
  padding-left: 2em;
  padding-right: 2em;
  border-top: thin solid;
}
.wrapper {
  position:relative;
}

.app_menu {
  width:9%;
  float:left;
  margin-top:10em;
  margin-right:1em;
  margin-left:4.5%;
  /*border: solid red;*/
}

.app_menu_row {
  border: solid thin black;
  margin-bottom:0.2em;
  
}

.app_submenu_row {
  border: thin solid black;
  margin-bottom:0.2em;
}

.clear {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;    
  clear: both;
}
