.productlist_item {
    border: thin solid black;
    border-radius: 0.5em;
    margin-bottom: 0.5em;    
}

.product_image {
    width: 10%;
    float: left;
    overflow: hidden;
}

.product_info {
    width: 80%;
    float: left;
}

.product_info_header {
}

.product_description {
}

.product_download {
    width: 10%;
    float:right;
}

.productlist_item:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;    
    clear: both;
}
.layout_frame
{
  width:70%;
  float:left;
  border: thin solid black;
}

.layout_logo
{
  padding: 1em;
  font-size: xx-large;
  text-align: center;
}

.layout_menu
{
  padding-left: 2em;
  padding-right: 2em;
  border-top: thin solid;
  border-bottom: thin solid;
}

.layout_master
{
  padding: 1em;
}

.layout_footer
{
  padding-left: 2em;
  padding-right: 2em;
  border-top: thin solid;
}
.wrapper {
  position:relative;
}

.clear {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;    
  clear: both;
}

 #menu {float:left; margin-right: 0.2em; width: 10%; margin-top: 8.8em;}
 
 #menu ul.navmenu li {list-style:none; margin-bottom: 0.2em;}

 #menu .menutop {border: thin solid black; margin-bottom: 0.2em; }

 #menu .menusingle {border: thin solid black;}

 #menu .submenu {border: thin solid black;}

 #menu .submenu_row {text-align: left;}:
 
