<h1>Legal information</h1>

<p>
  <strong>INFORMATION FOR PARTICIPANTS IN A SCIENTIFIC RESEARCH</strong><br />
  &nbsp;<br />
  This document describes the purpose, progress and other aspects of the study in question, as required by the ethical rules of research on human subjects, and as decreed by the HIIT Ethical Committee. The Ethical Committee has granted approval for human research to be carried out in the study for the purposes given in this document and for the methods listed in it.<br />
  &nbsp;<br />
  <strong>Invitation</strong><br />
  &nbsp;<br />
  You are invited to take part in a scientific user study led by Professor Martti M&auml;ntyl&auml; of the Helsinki Institute for Information Technology HIIT, a joint research institution of the Helsinki University of Technology and the University of Helsinki. The study forms a part of the OtaSizzle project in the MIDE Programme of Helsinki University of Technology. You are a suitable test subject if you are a male or female over the age of 18 who uses a mobile phone and/or Internet services. The study involves several test subjects. Participation is voluntary.<br />
  &nbsp;<br />
  <strong>Purpose of the Research</strong><br />
  &nbsp;<br />
  In line with the project to which it belongs, this study examines social media services. By collecting information on our test subjects, we hope to learn what is most important for service users. The ultimate aim of the study is to produce results that can be used in designing and creating better services.<br />
  &nbsp;<br />
  <strong>Risks and Discomfort</strong><br />
  &nbsp;<br />
  The methods used during the study present no greater risk to the subjects than normal use of computers and mobile phones does. In the study&rsquo;s interviews and questionnaires you are entitled to skip any questions you are uncomfortable with. Our researchers also observe users&rsquo; actions &ldquo;in the field&rdquo;, in their daily lives. The observers will introduce themselves in advance to test subjects and tell them about the research and their methods. If the observation makes you uncomfortable, the researchers can stop observing you on request.<br />
  &nbsp;<br />
  <strong>Benefits for Participants and the Community</strong><br />
  &nbsp;<br />
  We strive to make the tested services at least partially useful, so that participants in the study will receive some benefit from using them. There is no other particular benefit from participating in the study. Although you receive no personal gain from participating, we believe that by taking part you will help to produce information that will lead to better services being designed and offered in the future.<br />
  &nbsp;<br />
  <strong>Confidentiality</strong><br />
  &nbsp;<br />
  During the study, we will collect data on you and your use of services. Data is collected by asking you directly and observing your actions, but also by using unnoticeable programs installed on mobile phones and computers. This includes for example information on your location and on your connections, etc. All the data collected on you during the study is treated confidentially and is never disclosed to third parties without express consent from you, unless it is required by law.<br />
  &nbsp;<br />
  Data related to you is only used in combination with other data. In the analysis, data will be collated using phone numbers, IMEI codes and other identifiers. All identifying data will be destroyed at the latest at the end of this five-year project; earlier, if possible in practice. Whenever the study&rsquo;s outcomes are published or processed scientifically or otherwise, individual test subjects will not be mentioned, nor can they be identified from the data. There is a public data file description that determines how data is processed, stored and eventually destroyed.<br />
  &nbsp;<br />
  This research complies with the Finnish Personal Data Act (523/1999), which is based on EU legislation.<br />
  &nbsp;<br />
  <strong>Participation and Cancellation</strong><br />
  &nbsp;<br />
  Participation in the study is completely voluntary. If you decide to take part in the study, you have the right to cancel your participation at any time, without any consequences. You also have the right not to answer any questions you don't want to answer, and still continue participating in the study. In the unlikely event that the circumstances should require it, the Research Director has the right to cancel your participation.<br />
  &nbsp;<br />
  <strong>Researchers&rsquo; Contact Details</strong><br />
  &nbsp;<br />
  For more information on the study or in case of any questions, please contact:</p>
  <p>Helsinki University of Technology, Helsinki Institute for Information Technology<br />
  &nbsp;<br />
  Research Director:<br />
  Professor Martti M&auml;ntyl&auml;<br />
  Tel.: +358 (0)9 4511<br />
  Email:martti.mantyla@hiit.fi<br />
  &nbsp;<br />
  Practical matters:<br />
  Project Manager Olli Pitk&auml;nen<br />
  Email:olli.pitkanen@hiit.fi</p>
  <p>&nbsp;</p>
  <p><strong>CONSENT FOR RESEARCH STUDY</strong><br />
  &nbsp;<br />
  By giving my consent I confirm my voluntary participation in the studies belonging to the OtaSizzle project.<br />
  &nbsp;<br />
  I have read and understood the research description above, entitled &ldquo;Information for Participants in Scientific Research&rdquo;, and confirm that I have received sufficient information on the study and have been given the opportunity to ask questions about the study (and if the information affects the test I have been assured I will have this opportunity after the study).<br />
  &nbsp;<br />
  I am willing to follow the instructions provided by the researchers before, during and after the study.<br />
  &nbsp;<br />
  I consent to my personal data being processed in the ways described in the research description.<br />
  &nbsp;<br />
  I am aware of the fact that I have the right to cancel my participation in the test at any time without providing a reason, and to refuse to answer any questions asked before, during or after the study.<br />
  &nbsp;<br />
  The services in the study (Ossi, Kassi, etc.) may only be used in accordance with their terms of use. I accept the terms of use before I use the services.</p>
  <p>&nbsp;<br />
  &nbsp;<br />
  <strong>TERMS&nbsp;OF&nbsp;USE&nbsp;(OSSI)</strong><br />
  &nbsp;<br />
  Ossi is a social media service that allows its users to inter-communicate. It is a part of Helsinki University of Technology&rsquo;s (TKK) OtaSizzle-research project, where the service is being tested and developed. The project is conducted by Helsinki Institute for Information Technology HIIT, a joint research institute of TKK and University of Helsinki. The Ossi-service may only be used in accordance with these terms of use. TKK reserves the right to change these terms of use if required. Valid terms of use can be found from Ossi&rsquo;s website.<br />
  &nbsp;<br />
  <strong>Rights of Content</strong><br />
  &nbsp;<br />
  The users themselves retain the right to all text, pictures and other content that they create in the service. The users allow others to utilize the content in accordance with the nature of the service and furthermore allow TKK to file information and data and make changes that are necessary for the service or the study, however other rights are not transferred from the users, unless specifically otherwise agreed. The responsibility of the content lies with the user, who has produced it to the service. TKK has the right to remove any material when it deems it necessary.<br />
  &nbsp;<br />
  <strong>Disclaimer</strong><br />
  &nbsp;<br />
  Ossi-service is experimental in its nature, as well as a part of a study, therefore no guarantees of its functioning can be given. HIIT, TKK and University of Helsinki can under no circumstances be liable for damage that is caused to the user. The user may not store any information or data in the service, and expect it to remain there.<br />
  &nbsp;<br />
  <strong>The Removal of a User </strong><br />
  &nbsp;<br />
  TKK has the right to remove any users from Ossi and terminate their right of use of the service without any specific reason and without being liable for compensation.<br />
  &nbsp;<br />
  <strong>Applicable Jurisdiction</strong><br />
  &nbsp;<br />
  The jurisdiction that is applicable in this service and these terms of use is that of Finland, unless something else is required by binding law.
</p>