<h1><%= _("Editing user") %></h1>

<%= render 'form' %>

<%= button_to _('Show'), @user, :class => 'smallbutton', :method => :get  %>
<%= button_to _('Back'), users_path, :class => 'smallbutton', :method => :get  %>
