.product-edit {
  text-align: left;
}

#product_edit_fields {
  display: table;
  border-collapse: separate;
  border-spacing: 0 1em;  // spacing between rows
  margin-top: -1em;       // Negative margins remove the border-spacing from top
  margin-bottom: -1em;    // and bottom of the table

  & > dl {
    display: table-row;

    & > dt, {
      display: table-cell;
      text-align: right;
    }
    & > dd {
      display: table-cell;
      padding-left: 0.5em;
    }
  }

  // prevent line break between checkbox and label
  #product_edit_delete_photo {
    display: inline-block;
  }

  // don't let the margins of block elements increase row height
  #product_edit_downloads > dd {
    & > *:first-child { margin-top: 0; }
    & > *:last-child  { margin-bottom: 0; }
  }

  #product_edit_downloads .product-download-formfields {
    border: solid 0.15em $background;
    padding: 0.25em;
    @include border-radius(0.5em);

    margin-bottom: 0.25em;
    &:last-child { margin-bottom: 0; }

    .product-download-formfields-line label:first-child {
      padding-right: 0.5em;
    }
  }
}
