<span class="star-rating"><%=

# usage:
#   render :partial => 'rating/rating', :object => rating
#   render :partial => 'rating/rating', :object => rating, :locals => { :empty_message => 'message' }
#
# If rating is nil or its value unset, :empty_message is displayed.

  if rating.nil?
    defined?(empty_message) ? empty_message : 'not yet rated'
  else
    rating_val = rating.to_f
    stars = rating_val.truncate

    # add +, -, or ½ according to the fractional part of the value
    suffix = case rating_val % 1
      when 0     ... 0.125 then ''
      when 0.125 ... 0.375 then '+'
      when 0.375 ... 0.625 then '½'
      when 0.625 ... 0.875 then stars += 1; '-'
      when 0.875 ... 1     then stars += 1; ''
    end

    ('★' * stars) + suffix
  end
%></span>