.error-message {
  color: $error_text_color;
  width: 25em;
  padding: 0 4em;
  margin: 4em auto 4em auto;
  border: thick solid $error_border_color;

  & > h1 {
    font-size: 125%;
    color: $error_title_color;
    line-height: 1.5em;
  }
}
