// common settings for menu (both mobile and normal layout)
@mixin menu {

  a {
    text-decoration: none;
    color: inherit;
  }

  .menusingle, .menutop {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding: {
      top: 0.3em;
      left: 0.7em;
      right: 0.3em;
      bottom: 0.3em;
    }
  }

  .navmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .submenu_row {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    a {
      color: $text_color;
      font-size: 1em;
    }
  }
}
