#browse_products {
    display:inline-block;
    width:100%; 
    font-size: 1em;
}

#browse_products .selected-sort-key {
    color: gray;
}

.browse_product_left {
padding-top:0.4em;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.36, #202020),
    color-stop(0.58, #2B292B),
    color-stop(0.84, #333033)
);
background-image: -moz-linear-gradient(
    center bottom,
    #202020 36%,
    #2B292B 58%,
    #333033 84%
);
    //background:#2E2E2E;
    margin-bottom: 1em;
    //border-radius: 0.5em;
		//-moz-border-radius: 0.5em;
		//-webkit-border-radius: 0.5em;
    width:49%;
    float:left;
    position:relative;
    //border: solid red;
    -moz-box-shadow: 0 0 7px black;
	  -webkit-box-shadow: 0 0 7px black;
	  box-shadow: 0 0 7px black;
		border-radius: 0.5em 0.2em 0.2em 0.5em;
		-moz-border-radius: 0.5em 0.2em 0.2em 0.5em;
		-webkit-border-radius: 0.5em 0.2em 0.2em 0.5em;;
       
}
.browse_product_left:hover {
	-moz-box-shadow: 0 0 7px #FF6A00;
	-webkit-box-shadow: 0 0 7px #FF6A00;
	box-shadow: 0 0 7px #FF6A00;
	-webkit-transition: -webkit-box-shadow 0.5s;
}
.browse_product_right {
padding-top:0.4em;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.36, #202020),
    color-stop(0.58, #2B292B),
    color-stop(0.84, #333033)
);
background-image: -moz-linear-gradient(
    center bottom,
    #202020 36%,
    #2B292B 58%,
    #333033 84%
);
    //background:#404040;
    margin-bottom: 1em;
    border-radius: 0.2em 0.5em 0.5em 0.2em;
		-moz-border-radius: 0.2em 0.5em 0.5em 0.2em;
		-webkit-border-radius: 0.2em 0.5em 0.5em 0.2em;
    width:49%;
    float:right;
		position:relative;
    //border: solid red;
    -moz-box-shadow: 0 0 7px black;
	  -webkit-box-shadow: 0 0 7px black;
	  box-shadow: 0 0 7px black;
    
}
.browse_product_right:hover {
	-moz-box-shadow: 0 0 7px #FF6A00;
	-webkit-box-shadow: 0 0 7px #FF6A00;
	box-shadow: 0 0 7px #FF6A00;
	-webkit-transition: -webkit-box-shadow 0.5s;
}
.browse_product_info {
    background:none;
    border-radius: 0.5em;   
    float:left;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    width:32%;
    min-width: 5em;
		text-align: left;	
    //border:solid red;

}

.browse_product_desc {
    background:none;
    border-radius: 0.5em;
    margin-left: 0.5em;  
    float:left;
    width:43%;
    max-height:4.5em;
    overflow:hidden;
    text-overflow-ellipsis: hidden;
		text-align:left;
    
    
}

.browse_product_picture {
    //background:inherit;
    border-radius: 0.5em;
    float:left;
    width:22%;
		overflow: hidden;
		max-height: 7em;
		
      
}

.browse_row form, .browse_row div{
    display: inline;
    text-overflow: hidden;
    //border: solid yellow;
  
    
}
.browse_row {
   white-space:nowrap;
}

.clear{
    clear:both;
}
.browse_search_err_msg{
    border:thin solid red;
    color: red;
    font:bold;
    
}

.product_admin * {
  //display: inline;
  /*border: solid green;*/
}
