<div class="tag-cloud">
  <% published_products_tag_cloud((1..6).map {|i| "tag-cloud-tag-size#{i}"}) do |tag, css_class| %>
    <span class="tag-cloud-tag <%= css_class %>"><%= tag_link tag %></span>
  <% end %>
</div>