.footer_text
  %a(target="_blank" href="http://www.sizzlelab.org") Sizzlelab.org
  \|
  %a(target="_blank" href="http://otasizzle.wordpress.com") OtaSizzle blog
  \|
  %a(target="_blank" href="http://www.sizzlelab.org/content/legal-information") Legal Information
  \|
  %a(target="_blank" href="http://www.sizzlelab.org/content/frequently-asked-questions-faq") FAQ
  \|
  %a(target="_blank" href="http://www.sizzlelab.org/content/howto") HOWTOs
  \|
  %a(target="_blank" href="http://www.sizzlelab.org/contact") Feedback
