<span class="locale_selector"><%=
  raw @available_locales.map { |l|
    if l[:current?]
      content_tag(:span, l[:name], :class => 'current_locale')
    else
      link_to l[:name], params.merge(:locale => l[:id])
    end
  }.join(', ')
%></span>
